@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:'Lato','san-serif';
}

ol,
ul {
list-style: none;
margin: 0;
padding: 0;
}